.company-section{
    padding-top : 40px;
}

.company-header{
    text-align: center;
}

.company-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
}

.company-logos img {
    width: 100px;
}